<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.scss' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   <a href="http://localhost:3000/auth/github"><p>login with github</p> </a>
   <a href="/logout"><p>logOut</p></a>
  </body>

</html>
