<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login_form">
      <h1>signUp form </h1>
      <form method="POST" action="/register" class="sign-up">
        <input type="text" placeholder="Enter Username" name="username" class="username signUp-style" autocomplete="off"/>
        <input type="email" placeholder="Enter Email" name="email"  class="email"/>
        <input type="password" placeholder="Enter Password" name="password" class="password signUp-style" autocomplete="off"/>
        <button class="login button-style width-btn">signUp</button>
      </form>
    </div>
  </body>
</html>
