<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <!DOCTYPE html>
    <html>
      <head>
        <title>portfolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="public/css/main.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous"
        />
      </head>
      <body>
        <main class="wrapper">
          <!-- Navigation -->
          <header class="top-1">
            <nav class="navigation">
              <ul>
                <li><a href="#About-me">About-me</a></li>
                <li><a href="#project">project</a></li>
                <li><a href="#skill">skill</a></li>
                <li><a href="#contact">Contact-me</a></li>
                <li><a href="">blog</a></li>
              </ul>
            </nav>
            <div class="heading">
              <h1>ashish kumar</h1>
              <h4 class="name">web-developer</h4>
            </div>
          </header>
          <!-- About -->
          <section class="about-me center" id="About-me">
            <h1 class="top-heading">About-Me</h1>
            <img src="./media/ashish.jpg" class="logo-image" />
            <p class="intro-about">
              A web developer with a strong interest in projects 
              that require both conceptual and analytical thinking.
              I'm always eager to learn from anyone and everyone.
            </p>
          </section>
          <!-- projects -->
          <section class="projects center" id="project">
            <h1 class="top-heading">Projects</h1>
            <div class="project-detail">
              <img src="./media/screen11.png" alt="projects-screenshort" />
              <img src="./media/screen22.png" alt="projects-screenshort" />
              <img src="./media/screen33.png" alt="projects-screenshort" />
              <img src="./media/screen44.png" alt="projects-screenshort" />
              <img src="./media/screen55.png" alt="projects-screenshort" />
              <img src="./media/screen66.png" alt="projects-screenshort" />
            </div>
          </section>
          <!-- skill -->
          <section class="skill center" id="skill">
            <h1 class="top-heading">Skills</h1>
            <div class="skill-list">
              <img src="./media/html1.png" alt="icon" />
              <img src="./media/css.jpeg" alt="icon" />
              <img src="./media/sass.png" alt="icon" />
              <img src="./media/js.png" alt="icon" />
            </div>
          </section>
          <!-- contact -->
          <section class="contact " id="contact">
            <h1 class="top-heading center">Contact-Me</h1>
            <div class="contact-detail">
              <div class="email">
                <p class="email-h">E-mail-Id</p>
                <p class="email-id">ak8393267@gmail.com</p>
              </div>
              <div class="location">
                <p class="location">Location</p>
                <p class="address">
                  v.p.o rakkar teh.Dharamshala<br />
                  Ditt.kangra h.p (176057)
                </p>
              </div>
              <div class="social">
                <p class="location">Links</p>
                <div class="social-icon">
                  <a href="https://www.facebook.com/aashish.kumarsharma.376">
                    <i class="fab fa-facebook"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a href="https://medium.com/@ak8393267">
                    <i class="fab fa-medium"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a href="https://twitter.com/121Ashishkumar">
                    <i class="fab fa-twitter"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a href="https://www.linkedin.com/in/ashish-kumar-693240165/">
                    <i class="fab fa-linkedin"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a href="https://github.com/ashish4497">
                    <i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </section>
          <footer>
            <!-- footer -->
            <div class="footer"><p>@ CopyRight : AshishKumar 2018</p></div>
          </footer>
        </main>
      </body>
    </html>
  </body>
</html>
